<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_pailu_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{848,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,90}}</string>
                <key>sourceSize</key>
                <string>{848,90}</string>
            </dict>
            <key>h3card_pailu_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,120}}</string>
                <key>sourceSize</key>
                <string>{456,120}</string>
            </dict>
            <key>h3card_pailu_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,124},{744,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,41}}</string>
                <key>sourceSize</key>
                <string>{744,41}</string>
            </dict>
            <key>h3card_pailu_biaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,56},{744,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,41}}</string>
                <key>sourceSize</key>
                <string>{744,41}</string>
            </dict>
            <key>h3card_pailu_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,924},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>h3card_pailu_dapaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,974},{65,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,30}}</string>
                <key>sourceSize</key>
                <string>{65,30}</string>
            </dict>
            <key>h3card_pailu_gaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{65,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,30}}</string>
                <key>sourceSize</key>
                <string>{65,30}</string>
            </dict>
            <key>h3card_pailu_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,870},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>h3card_pailu_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,951},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>h3card_pailu_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,951},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>h3card_pailu_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>h3card_pailu_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,897},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>h3card_pailu_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,870},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>h3card_pailu_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>h3card_pailu_zoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,124},{711,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,88}}</string>
                <key>sourceSize</key>
                <string>{711,88}</string>
            </dict>
            <key>h3card_pailu_zoushibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,124},{721,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,162}}</string>
                <key>sourceSize</key>
                <string>{721,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_pailu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f29e4a64e687e98d97f83317102769:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_pailu.png</string>
        </dict>
    </dict>
</plist>
