<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{318,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,128}}</string>
                <key>sourceSize</key>
                <string>{318,128}</string>
            </dict>
            <key>h3card_jiangchi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>h3card_jiangchi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,201},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>h3card_jiangchi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{256,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,35}}</string>
                <key>sourceSize</key>
                <string>{256,35}</string>
            </dict>
            <key>h3card_jiangchi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,142},{312,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,67}}</string>
                <key>sourceSize</key>
                <string>{312,67}</string>
            </dict>
            <key>h3card_jiangchi_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,228},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>h3card_jiangchi_beijing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>h3card_jiangchi_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,94}}</string>
                <key>sourceSize</key>
                <string>{440,94}</string>
            </dict>
            <key>h3card_jiangchi_biaoge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{674,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,49}}</string>
                <key>sourceSize</key>
                <string>{674,49}</string>
            </dict>
            <key>h3card_jiangchi_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,368},{630,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,94}}</string>
                <key>sourceSize</key>
                <string>{630,94}</string>
            </dict>
            <key>h3card_jiangchi_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,201},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>h3card_jiangchi_guangquan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,98},{101,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,118}}</string>
                <key>sourceSize</key>
                <string>{101,118}</string>
            </dict>
            <key>h3card_jiangchi_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,228},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>h3card_jiangchi_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,228},{183,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,82}}</string>
                <key>sourceSize</key>
                <string>{183,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_jiangchi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27903b4e377fbf2c3f45b40fa48e9932:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_jiangchi.png</string>
        </dict>
    </dict>
</plist>
