<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_emo_btn_bomb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,182},{92,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>h3card_emo_btn_chicken_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{88,94}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{88,94}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>h3card_emo_btn_diamond_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{64,80}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{64,80}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>h3card_emo_btn_double_ace_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,100},{98,80}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{98,80}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>h3card_emo_btn_egg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,266},{64,72}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{64,72}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>h3card_emo_btn_fishing_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{104,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>h3card_emo_btn_flower_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,266},{74,66}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{74,66}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>h3card_emo_btn_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>h3card_emo_btn_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,182},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{44,44}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>h3card_emo_btn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,100},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>h3card_emo_btn_thumb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{68,72}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{68,72}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_emo_btn.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7daa7ff38200431491ccda56d5ce1b1:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_emo_btn.png</string>
        </dict>
    </dict>
</plist>
