<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_kaijiang_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1096},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>h3card_kaijiang_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,465},{629,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,113}}</string>
                <key>sourceSize</key>
                <string>{629,113}</string>
            </dict>
            <key>h3card_kaijiang_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,506},{273,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,46}}</string>
                <key>sourceSize</key>
                <string>{273,46}</string>
            </dict>
            <key>h3card_kaijiang_biaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,304},{273,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,46}}</string>
                <key>sourceSize</key>
                <string>{273,46}</string>
            </dict>
            <key>h3card_kaijiang_caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{520,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,450}}</string>
                <key>sourceSize</key>
                <string>{520,450}</string>
            </dict>
            <key>h3card_kaijiang_hongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{522,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,432}}</string>
                <key>sourceSize</key>
                <string>{522,432}</string>
            </dict>
            <key>h3card_kaijiang_huangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{964,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,640}}</string>
                <key>sourceSize</key>
                <string>{964,640}</string>
            </dict>
            <key>h3card_kaijiang_huangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1191},{478,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,465}}</string>
                <key>sourceSize</key>
                <string>{478,465}</string>
            </dict>
            <key>h3card_kaijiang_lizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1715},{414,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,259}}</string>
                <key>sourceSize</key>
                <string>{414,259}</string>
            </dict>
            <key>h3card_kaijiang_lizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{858,560}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,3},{858,560}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>h3card_kaijiang_lotteryjackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1715},{465,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,111}}</string>
                <key>sourceSize</key>
                <string>{465,111}</string>
            </dict>
            <key>h3card_kaijiang_outsan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{300,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,209}}</string>
                <key>sourceSize</key>
                <string>{300,209}</string>
            </dict>
            <key>h3card_kaijiang_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,579},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>h3card_kaijiang_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,623},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>h3card_kaijiang_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,465},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>h3card_kaijiang_splitline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2039,2},{14,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,3}}</string>
                <key>sourceSize</key>
                <string>{14,3}</string>
            </dict>
            <key>h3card_kaijiang_stars01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{85,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,68}}</string>
                <key>sourceSize</key>
                <string>{85,68}</string>
            </dict>
            <key>h3card_kaijiang_stars02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,864},{97,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,35}}</string>
                <key>sourceSize</key>
                <string>{97,35}</string>
            </dict>
            <key>h3card_kaijiang_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,901},{288,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,86}}</string>
                <key>sourceSize</key>
                <string>{288,86}</string>
            </dict>
            <key>h3card_kaijiang_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,304},{167,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,48}}</string>
                <key>sourceSize</key>
                <string>{167,48}</string>
            </dict>
            <key>h3card_wanjia_xuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,354},{109,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,133}}</string>
                <key>sourceSize</key>
                <string>{109,133}</string>
            </dict>
            <key>h3card_wanjia_xuanzhuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,781},{81,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,97}}</string>
                <key>sourceSize</key>
                <string>{81,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_kaijiang.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4016dd6eab6bbacf93e3e68b2f2ffc:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_kaijiang.png</string>
        </dict>
    </dict>
</plist>
