<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_chip_235.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,79},{135,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,72}}</string>
                <key>sourceSize</key>
                <string>{135,72}</string>
            </dict>
            <key>h3card_chip_baozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,77},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>h3card_chip_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,233},{62,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>h3card_chip_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,284},{62,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>h3card_chip_chip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,284},{62,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>h3card_chip_chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,223},{62,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>h3card_chip_chip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,223},{62,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>h3card_chip_chip_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{86,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{86,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>h3card_chip_chip_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,153},{96,78}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>h3card_chip_chip_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,204},{96,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>h3card_chip_chip_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{88,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>h3card_chip_chip_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,104},{98,80}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{98,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>h3card_chip_chip_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{100,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>h3card_chip_danzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,152},{132,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,69}}</string>
                <key>sourceSize</key>
                <string>{132,69}</string>
            </dict>
            <key>h3card_chip_duizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,74}}</string>
                <key>sourceSize</key>
                <string>{143,74}</string>
            </dict>
            <key>h3card_chip_jinhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{139,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,75}}</string>
                <key>sourceSize</key>
                <string>{139,75}</string>
            </dict>
            <key>h3card_chip_shunjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{139,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,75}}</string>
                <key>sourceSize</key>
                <string>{139,75}</string>
            </dict>
            <key>h3card_chip_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{137,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,73}}</string>
                <key>sourceSize</key>
                <string>{137,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_chip.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb83935f43e758308ebe91561085c22:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_chip.png</string>
        </dict>
    </dict>
</plist>
