<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_chengjiu_small_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,36},{114,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{114,40}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>h3card_common_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1217},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>h3card_common_battery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,940},{47,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,19}}</string>
                <key>sourceSize</key>
                <string>{47,19}</string>
            </dict>
            <key>h3card_common_battery_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,148},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>h3card_common_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,463},{120,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>h3card_common_btn_blacknormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,216},{164,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,56}}</string>
                <key>sourceSize</key>
                <string>{164,56}</string>
            </dict>
            <key>h3card_common_btn_ellipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,334},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>h3card_common_btn_ellipse_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,280},{135,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,52}}</string>
                <key>sourceSize</key>
                <string>{135,52}</string>
            </dict>
            <key>h3card_common_btn_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,635},{190,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{190,66}</string>
            </dict>
            <key>h3card_common_btn_golden_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,567},{190,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{190,66}</string>
            </dict>
            <key>h3card_common_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1197},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>h3card_common_btnbukexuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,403},{120,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>h3card_common_btnhelpdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1148},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>h3card_common_btnhelpnormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1128},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>h3card_common_btnxuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,343},{120,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>h3card_common_chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1266},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>h3card_common_closenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1078},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{68,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>h3card_common_closeselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1058},{68,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{68,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>h3card_common_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,78},{133,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,112}}</string>
                <key>sourceSize</key>
                <string>{133,112}</string>
            </dict>
            <key>h3card_common_dibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,635},{1136,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,94}}</string>
                <key>sourceSize</key>
                <string>{1136,94}</string>
            </dict>
            <key>h3card_common_emo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,523},{110,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>h3card_common_fanpai_huoshengpaixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{227,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,110}}</string>
                <key>sourceSize</key>
                <string>{227,110}</string>
            </dict>
            <key>h3card_common_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,274},{2,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,47}}</string>
                <key>sourceSize</key>
                <string>{2,47}</string>
            </dict>
            <key>h3card_common_gerenxinxi_biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,32}}</string>
                <key>sourceSize</key>
                <string>{343,32}</string>
            </dict>
            <key>h3card_common_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,213},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>h3card_common_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,756},{182,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>h3card_common_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,395},{170,172}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{170,172}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>h3card_common_icongold.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1058},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>h3card_common_jiaobiaoluck.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1173},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>h3card_common_kaijianglist.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,990},{89,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,86}}</string>
                <key>sourceSize</key>
                <string>{89,86}</string>
            </dict>
            <key>h3card_common_kongxuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1245},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>h3card_common_kongxuankuang_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1134},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>h3card_common_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,274},{90,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,2}}</string>
                <key>sourceSize</key>
                <string>{90,2}</string>
            </dict>
            <key>h3card_common_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,274},{92,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,3}}</string>
                <key>sourceSize</key>
                <string>{92,3}</string>
            </dict>
            <key>h3card_common_player_tilte.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,940},{168,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,48}}</string>
                <key>sourceSize</key>
                <string>{168,48}</string>
            </dict>
            <key>h3card_common_playerinfo_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,274},{150,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{150,4}}</string>
                <key>sourceSize</key>
                <string>{158,6}</string>
            </dict>
            <key>h3card_common_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,990},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>h3card_common_reddot.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,523},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>h3card_common_saishiguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,703},{187,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,51}}</string>
                <key>sourceSize</key>
                <string>{187,51}</string>
            </dict>
            <key>h3card_common_tmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,180},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>h3card_common_topcardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{1018,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,200}}</string>
                <key>sourceSize</key>
                <string>{1018,200}</string>
            </dict>
            <key>h3card_common_userinfofemale.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1088},{28,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>h3card_common_userinfomale.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1209},{34,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{34,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>h3card_common_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,368},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>h3card_common_yanhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{212,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,163}}</string>
                <key>sourceSize</key>
                <string>{212,163}</string>
            </dict>
            <key>h3card_common_yanhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{212,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,163}}</string>
                <key>sourceSize</key>
                <string>{212,163}</string>
            </dict>
            <key>h3card_common_yanhua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{212,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,163}}</string>
                <key>sourceSize</key>
                <string>{212,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_common.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1e339b84996c138b9201b603655f13:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_common.png</string>
        </dict>
    </dict>
</plist>
