<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h3card_kaijiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,196}}</string>
                <key>sourceSize</key>
                <string>{444,196}</string>
            </dict>
            <key>h3card_kaijiang012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{362,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,261}}</string>
                <key>sourceSize</key>
                <string>{362,261}</string>
            </dict>
            <key>h3card_vs_VS01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,152},{430,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,148}}</string>
                <key>sourceSize</key>
                <string>{430,148}</string>
            </dict>
            <key>h3card_vs_VS02.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,784},{198,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,271}}</string>
                <key>sourceSize</key>
                <string>{198,271}</string>
            </dict>
            <key>h3card_vs_VS03.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,463},{184,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,262}}</string>
                <key>sourceSize</key>
                <string>{184,262}</string>
            </dict>
            <key>h3card_vs_VS04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{212,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,295}}</string>
                <key>sourceSize</key>
                <string>{212,295}</string>
            </dict>
            <key>h3card_vs_VS05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{430,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,148}}</string>
                <key>sourceSize</key>
                <string>{430,148}</string>
            </dict>
            <key>h3card_vs_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{319,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,319}}</string>
                <key>sourceSize</key>
                <string>{319,319}</string>
            </dict>
            <key>h3card_vs_huohuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,302},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_vs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d09c16952170b1b3d6edd1c4d44399e2:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_vs.png</string>
        </dict>
    </dict>
</plist>
