<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{94,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,130}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>bgBlackFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,134}}</string>
                <key>sourceSize</key>
                <string>{96,134}</string>
            </dict>
            <key>bigtag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,402},{50,66}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{50,66}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{52,58}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,41},{52,58}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,200},{50,54}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{50,54}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,136},{52,62}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{52,62}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,248},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,138},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,402},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>bigtag_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,134},{28,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,292},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,444},{20,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{20,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,256},{26,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,180},{28,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,246},{26,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,358},{30,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{30,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,134},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,200},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{22,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,394},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,348},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,470},{40,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{94,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,130}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,338},{28,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,302},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,112},{20,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{20,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,62},{26,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,358},{28,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,256},{26,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,358},{30,42}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{30,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,466},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,398},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,112},{22,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{22,42}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,352},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,306},{26,44}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,470},{40,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>smalltag_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,112},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>smalltag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,94},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>smalltag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>smalltag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,62},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h3card_poker.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6520be40ba636ab2180f54f23f049617:1/1$</string>
            <key>textureFileName</key>
            <string>h3card_poker.png</string>
        </dict>
    </dict>
</plist>
