<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,488},{566,60}}</string>
                <key>offset</key>
                <string>{58,-307}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,637},{566,60}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1006,498}}</string>
                <key>offset</key>
                <string>{20,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,178},{1006,498}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{1000,484}}</string>
                <key>offset</key>
                <string>{9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,194},{1000,484}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{1000,484}}</string>
                <key>offset</key>
                <string>{9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,194},{1000,484}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{822,378}}</string>
                <key>offset</key>
                <string>{-49,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,175},{822,378}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,974},{934,312}}</string>
                <key>offset</key>
                <string>{17,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,131},{934,312}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{620,206}}</string>
                <key>offset</key>
                <string>{158,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,67},{620,206}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{698,252}}</string>
                <key>offset</key>
                <string>{154,219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,15},{698,252}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,488},{566,60}}</string>
                <key>offset</key>
                <string>{58,-307}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,637},{566,60}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{698,252}}</string>
                <key>offset</key>
                <string>{154,219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,15},{698,252}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{812,226}}</string>
                <key>offset</key>
                <string>{101,216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,31},{812,226}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1736},{744,206}}</string>
                <key>offset</key>
                <string>{131,226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,31},{744,206}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1736},{744,206}}</string>
                <key>offset</key>
                <string>{131,226}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,31},{744,206}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1056},{780,194}}</string>
                <key>offset</key>
                <string>{107,224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,39},{780,194}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1056},{780,194}}</string>
                <key>offset</key>
                <string>{107,224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,39},{780,194}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,974},{476,196}}</string>
                <key>offset</key>
                <string>{234,-237}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{636,499},{476,196}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,974},{760,408}}</string>
                <key>offset</key>
                <string>{74,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,286},{760,408}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{974,458}}</string>
                <key>offset</key>
                <string>{44,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,236},{974,458}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{974,458}}</string>
                <key>offset</key>
                <string>{44,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,236},{974,458}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,488},{926,484}}</string>
                <key>offset</key>
                <string>{38,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,211},{926,484}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>dragon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,488},{926,484}}</string>
                <key>offset</key>
                <string>{38,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,211},{926,484}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a95f3d3f999cd959e94566b00e1c3a8f:1/1$</string>
            <key>textureFileName</key>
            <string>dragon1.png</string>
        </dict>
    </dict>
</plist>
