<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firebig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{570,102}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,9},{570,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{580,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{580,100}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{576,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{576,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{576,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{576,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{576,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{576,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{570,102}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,9},{570,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{570,102}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,9},{570,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{582,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{582,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{582,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{582,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{582,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{582,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,94}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,17},{600,94}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{570,102}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,9},{570,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,94}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,17},{600,94}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{580,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{580,100}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{580,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{580,100}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{580,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{580,100}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{576,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{576,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{576,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{576,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{570,102}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,9},{570,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{582,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{582,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{582,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{582,102}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,94}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,17},{600,94}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,94}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,17},{600,94}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,94}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,17},{600,94}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firebig_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{580,100}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,11},{580,100}}</string>
                <key>sourceSize</key>
                <string>{700,120}</string>
            </dict>
            <key>firesmall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,808},{194,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{194,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,830},{192,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{192,84}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,608},{194,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,808},{194,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{194,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,808},{194,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{194,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,304},{200,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,628},{200,70}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,628},{200,70}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,608},{198,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{198,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,304},{196,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{196,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,304},{196,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{196,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,808},{194,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{194,86}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,830},{192,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{192,84}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,608},{194,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{194,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,304},{200,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,304},{200,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,92}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,628},{200,70}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,608},{198,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{198,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,608},{198,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{198,90}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,304},{196,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{196,96}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>firesmall_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,830},{192,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{192,84}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>shandian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,912},{36,32}}</string>
                <key>offset</key>
                <string>{276,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{558,43},{36,32}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,398},{228,62}}</string>
                <key>offset</key>
                <string>{185,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,3},{228,62}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{534,78}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{534,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{534,78}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{534,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{534,78}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{534,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,82},{524,78}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{524,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,82},{524,78}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{524,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{568,78}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{568,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{568,78}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{568,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{564,78}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{564,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{564,78}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{564,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,856},{140,54}}</string>
                <key>offset</key>
                <string>{229,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{459,26},{140,54}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{568,78}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{568,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,512},{468,78}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{468,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,512},{468,78}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{468,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,804},{184,58}}</string>
                <key>offset</key>
                <string>{205,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,22},{184,58}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,232},{320,70}}</string>
                <key>offset</key>
                <string>{84,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,2},{320,70}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,232},{42,36}}</string>
                <key>offset</key>
                <string>{-279,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{42,36}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,398},{456,76}}</string>
                <key>offset</key>
                <string>{-72,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{456,76}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{394,78}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{394,78}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,82},{338,74}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,6},{338,74}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
            <key>shandian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,158},{332,72}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,2},{332,72}}</string>
                <key>sourceSize</key>
                <string>{600,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireAnimate.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d3d45287628f2972ea2020baf00018$</string>
            <key>textureFileName</key>
            <string>fireAnimate.png</string>
        </dict>
    </dict>
</plist>
