<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoujin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,374}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,241},{538,374}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{506,422}}</string>
                <key>offset</key>
                <string>{9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,193},{506,422}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{468,492}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,121},{468,492}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,556},{420,488}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,118},{420,488}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{388,306}}</string>
                <key>offset</key>
                <string>{34,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,120},{388,306}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,978},{352,278}}</string>
                <key>offset</key>
                <string>{37,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,121},{352,278}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{318,254}}</string>
                <key>offset</key>
                <string>{41,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,118},{318,254}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{282,230}}</string>
                <key>offset</key>
                <string>{45,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,115},{282,230}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{248,204}}</string>
                <key>offset</key>
                <string>{48,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,113},{248,204}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1178},{216,172}}</string>
                <key>offset</key>
                <string>{50,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,117},{216,172}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,978},{202,144}}</string>
                <key>offset</key>
                <string>{61,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,117},{202,144}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,802},{196,114}}</string>
                <key>offset</key>
                <string>{74,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,117},{196,114}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1000},{176,84}}</string>
                <key>offset</key>
                <string>{81,191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,117},{176,84}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,496},{172,54}}</string>
                <key>offset</key>
                <string>{82,206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,117},{172,54}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,496},{174,32}}</string>
                <key>offset</key>
                <string>{82,216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,118},{174,32}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,378},{176,30}}</string>
                <key>offset</key>
                <string>{83,216}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,119},{176,30}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1366},{162,30}}</string>
                <key>offset</key>
                <string>{87,215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,120},{162,30}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,496},{54,24}}</string>
                <key>offset</key>
                <string>{116,218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,120},{54,24}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoujin2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2feeac12233842750d1d97e5ca50676:1/1$</string>
            <key>textureFileName</key>
            <string>shoujin2.png</string>
        </dict>
    </dict>
</plist>
