<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoujin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1234},{248,146}}</string>
                <key>offset</key>
                <string>{-77,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,212},{248,146}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,622},{512,420}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,222},{512,420}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1516},{512,386}}</string>
                <key>offset</key>
                <string>{7,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,256},{512,386}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,234},{540,386}}</string>
                <key>offset</key>
                <string>{-7,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,256},{540,386}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{540,334}}</string>
                <key>offset</key>
                <string>{-7,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,308},{540,334}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,552},{540,280}}</string>
                <key>offset</key>
                <string>{-7,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,362},{540,280}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{590,248}}</string>
                <key>offset</key>
                <string>{-5,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,396},{590,248}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{592,230}}</string>
                <key>offset</key>
                <string>{-4,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,415},{592,230}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{592,208}}</string>
                <key>offset</key>
                <string>{-4,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,437},{592,208}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{592,208}}</string>
                <key>offset</key>
                <string>{-4,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,437},{592,208}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{592,208}}</string>
                <key>offset</key>
                <string>{-4,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,437},{592,208}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1044},{450,192}}</string>
                <key>offset</key>
                <string>{29,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,198},{450,192}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{592,208}}</string>
                <key>offset</key>
                <string>{-4,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,437},{592,208}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{592,208}}</string>
                <key>offset</key>
                <string>{-4,-191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,437},{592,208}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,346}}</string>
                <key>offset</key>
                <string>{-4,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,299},{592,346}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,212},{590,338}}</string>
                <key>offset</key>
                <string>{-5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,277},{590,338}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1044},{450,224}}</string>
                <key>offset</key>
                <string>{30,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,201},{450,224}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1108},{458,406}}</string>
                <key>offset</key>
                <string>{34,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,198},{458,406}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,834},{512,398}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,206},{512,398}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1516},{512,386}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,218},{512,386}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{512,402}}</string>
                <key>offset</key>
                <string>{8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,202},{512,402}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,594},{512,330}}</string>
                <key>offset</key>
                <string>{7,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,274},{512,330}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
            <key>shoujin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{512,388}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,227},{512,388}}</string>
                <key>sourceSize</key>
                <string>{600,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoujin1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d82423cf62d567990653db9e84f8ff2:1/1$</string>
            <key>textureFileName</key>
            <string>shoujin1.png</string>
        </dict>
    </dict>
</plist>
