<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>labakuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{255,33}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{255,33}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{263,51}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{263,51}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{269,55}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{269,55}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{255,45}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{255,45}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{259,51}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{259,51}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{255,45}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,45}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{259,41}}</string>
                <key>offset</key>
                <string>{-29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{259,41}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{261,45}}</string>
                <key>offset</key>
                <string>{-28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{261,45}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{265,49}}</string>
                <key>offset</key>
                <string>{-26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{265,49}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{267,53}}</string>
                <key>offset</key>
                <string>{-25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{267,53}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,57}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,57}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{261,55}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{261,55}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{263,47}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{263,47}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
            <key>labakuang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{263,49}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{263,49}}</string>
                <key>sourceSize</key>
                <string>{317,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>labanotice.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b8dad016a30cd1a91ee5cf49de88ea0$</string>
            <key>textureFileName</key>
            <string>labanotice.png</string>
        </dict>
    </dict>
</plist>
