<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hallfirstcharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,14},{4,3}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,78},{4,3}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge10.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,108},{14,15}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,89},{14,15}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{34,49}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,58},{34,49}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge12.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,108},{14,15}}</string>
                <key>offset</key>
                <string>{-30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,56},{14,15}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge13.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{20,19}}</string>
                <key>offset</key>
                <string>{-30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,54},{20,19}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,74},{32,15}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,74},{32,15}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,27}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,66},{60,27}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,35}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,61},{40,35}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{46,15}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,60},{46,15}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{10,11}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,61},{10,11}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{24,43}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,60},{24,43}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge8.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,59},{14,13}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{14,13}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
            <key>hallfirstcharge9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,38},{44,19}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,92},{44,19}}</string>
                <key>sourceSize</key>
                <string>{170,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quickstart.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa5263864946c235e1866ddfb21d8069$</string>
            <key>textureFileName</key>
            <string>quickstart.png</string>
        </dict>
    </dict>
</plist>
