<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuchao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{227,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{227,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,198},{237,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{237,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,296},{231,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{231,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,492},{227,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{227,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{227,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{227,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,394},{227,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{227,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{229,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{229,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{233,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{233,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{237,96}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{237,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,100},{239,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{239,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{239,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{239,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{239,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
            <key>yuchao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,96}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{239,96}}</string>
                <key>sourceSize</key>
                <string>{275,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuchao.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b25feee17f87f2a09b43533d5e957d5$</string>
            <key>textureFileName</key>
            <string>yuchao.png</string>
        </dict>
    </dict>
</plist>
