<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal1/gaojiasuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,636},{136,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,97}}</string>
                <key>sourceSize</key>
                <string>{136,97}</string>
            </dict>
            <key>animal1/gaojiasuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,833},{134,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,95}}</string>
                <key>sourceSize</key>
                <string>{134,95}</string>
            </dict>
            <key>animal1/gaojiasuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,116},{125,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,100}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>animal1/gaojiasuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,368},{129,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,100}}</string>
                <key>sourceSize</key>
                <string>{129,100}</string>
            </dict>
            <key>animal1/gaojiasuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,735},{134,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,96}}</string>
                <key>sourceSize</key>
                <string>{134,96}</string>
            </dict>
            <key>animal1/gaojiasuo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,443},{138,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,98}}</string>
                <key>sourceSize</key>
                <string>{138,98}</string>
            </dict>
            <key>animal1/gaojiasuo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{135,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,113}}</string>
                <key>sourceSize</key>
                <string>{135,113}</string>
            </dict>
            <key>animal1/gaojiasuo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,192},{135,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,94}}</string>
                <key>sourceSize</key>
                <string>{135,94}</string>
            </dict>
            <key>animal1/gaojiasuo_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,306},{118,98}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,216},{122,98}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,116},{126,98}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{126,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_dianji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,306},{118,98}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_dianji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,216},{126,88}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{126,88}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_dianji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,412},{110,104}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_dianji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,218},{120,104}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal1/gaojiasuo_dianji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,306},{118,98}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{118,98}}</string>
                <key>sourceSize</key>
                <string>{140,106}</string>
            </dict>
            <key>animal2/geli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{186,101}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{186,101}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,105}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{186,105}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{172,101}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{172,101}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{180,99}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{180,99}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{168,97}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{168,97}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{168,113}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{168,113}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{162,117}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{162,117}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{188,89}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{188,89}}</string>
                <key>sourceSize</key>
                <string>{192,117}</string>
            </dict>
            <key>animal2/geli_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{136,112}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,112}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>animal2/geli_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{142,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,112}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>animal2/geli_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,117},{144,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,114}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>animal3/jinmao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,184},{137,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{137,89}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,233},{141,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{141,93}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{143,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{143,99}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{149,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,99}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,543},{139,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{139,91}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,275},{135,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{135,91}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,103},{137,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{137,87}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,93},{137,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{137,89}}</string>
                <key>sourceSize</key>
                <string>{149,99}</string>
            </dict>
            <key>animal3/jinmao_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,288},{130,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,96}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>animal3/jinmao_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,116},{126,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{126,98}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>animal3/jinmao_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,386},{128,98}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{128,98}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>animal4/samoye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,420},{111,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,94}}</string>
                <key>sourceSize</key>
                <string>{111,94}</string>
            </dict>
            <key>animal4/samoye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,542},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>animal4/samoye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,518},{106,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>animal4/samoye4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,836},{102,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>animal4/samoye5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,486},{106,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,91}}</string>
                <key>sourceSize</key>
                <string>{106,91}</string>
            </dict>
            <key>animal4/samoye6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,736},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
            <key>animal4/samoye7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,406},{113,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,107}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>animal4/samoye8.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,515},{111,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,86}}</string>
                <key>sourceSize</key>
                <string>{111,86}</string>
            </dict>
            <key>animal4/samoye_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,636},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{104,98}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>animal4/samoye_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,420},{110,96}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{110,96}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>animal4/samoye_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,324},{114,94}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{114,94}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>animal5/songshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,660},{104,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,79}}</string>
                <key>sourceSize</key>
                <string>{104,79}</string>
            </dict>
            <key>animal5/songshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,610},{107,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,81}}</string>
                <key>sourceSize</key>
                <string>{107,81}</string>
            </dict>
            <key>animal5/songshi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,608},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>animal5/songshi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,786},{97,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,85}}</string>
                <key>sourceSize</key>
                <string>{97,85}</string>
            </dict>
            <key>animal5/songshi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,612},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>animal5/songshi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,518},{105,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,88}}</string>
                <key>sourceSize</key>
                <string>{105,88}</string>
            </dict>
            <key>animal5/songshi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,316},{114,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,94}}</string>
                <key>sourceSize</key>
                <string>{114,94}</string>
            </dict>
            <key>animal5/songshi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,579},{106,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,79}}</string>
                <key>sourceSize</key>
                <string>{106,79}</string>
            </dict>
            <key>animal5/songshi_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,702},{100,81}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{100,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>animal5/songshi_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,696},{100,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{100,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>animal5/songshi_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,674},{102,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>animal5/songshi_dianji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,689},{95,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{95,82}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,765},{95,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,826},{95,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,827},{95,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,826},{95,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,741},{95,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,826},{95,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{95,84}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal5/songshi_dianji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,689},{95,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{95,82}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>animal6/shapi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,324},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>animal6/shapi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,851},{92,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,66}}</string>
                <key>sourceSize</key>
                <string>{92,66}</string>
            </dict>
            <key>animal6/shapi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,913},{87,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,65}}</string>
                <key>sourceSize</key>
                <string>{87,65}</string>
            </dict>
            <key>animal6/shapi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,702},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>animal6/shapi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,930},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>animal6/shapi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,785},{91,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,62}}</string>
                <key>sourceSize</key>
                <string>{91,62}</string>
            </dict>
            <key>animal6/shapi_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{88,64}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{88,64}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>animal6/shapi_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,912},{80,66}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{80,66}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>animal6/shapi_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,786},{84,66}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{84,66}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>animal7/taidi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,930},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>animal7/taidi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,919},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>animal7/taidi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,919},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>animal7/taidi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,919},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>animal7/taidi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,919},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>animal7/taidi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,850},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>animal7/taidi_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,854},{71,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,924},{71,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{71,66}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,854},{71,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_dianji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,854},{71,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_dianji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,854},{71,66}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{71,66}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_dianji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,851},{71,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,66}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_dianji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,919},{71,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_dianji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,851},{71,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,66}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal7/taidi_dianji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,919},{71,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>animal8/lachang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,930},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{109,60}</string>
            </dict>
            <key>animal8/lachang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,582},{105,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,70}}</string>
                <key>sourceSize</key>
                <string>{105,70}</string>
            </dict>
            <key>animal8/lachang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,693},{101,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,70}}</string>
                <key>sourceSize</key>
                <string>{101,70}</string>
            </dict>
            <key>animal8/lachang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,779},{91,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,69}}</string>
                <key>sourceSize</key>
                <string>{91,69}</string>
            </dict>
            <key>animal8/lachang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,757},{100,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>animal8/lachang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,533},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>animal8/lachang_daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,470},{110,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{110,70}</string>
            </dict>
            <key>animal8/lachang_daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,470},{111,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,70}}</string>
                <key>sourceSize</key>
                <string>{111,70}</string>
            </dict>
            <key>animal8/lachang_daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,603},{110,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,69}}</string>
                <key>sourceSize</key>
                <string>{110,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog_animal.png</string>
            <key>size</key>
            <string>{1023,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec1a75ceccd6ec4dfd7a18cddaead19:1/1$</string>
            <key>textureFileName</key>
            <string>dog_animal.png</string>
        </dict>
    </dict>
</plist>
