<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_add_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{63,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>dog_all_quiz_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,751},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
            <key>dog_animal_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,712},{93,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,37}}</string>
                <key>sourceSize</key>
                <string>{93,37}</string>
            </dict>
            <key>dog_back_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,731},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>dog_back_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,731},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>dog_bet_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>dog_bet_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,543},{151,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{151,75}</string>
            </dict>
            <key>dog_bet_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,543},{151,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{151,75}</string>
            </dict>
            <key>dog_bet_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,696},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>dog_bet_money_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,395},{139,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,140}}</string>
                <key>sourceSize</key>
                <string>{139,140}</string>
            </dict>
            <key>dog_bet_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,424},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>dog_bg_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,88}}</string>
                <key>sourceSize</key>
                <string>{860,88}</string>
            </dict>
            <key>dog_btn_king1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,500},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>dog_btn_king1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,500},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>dog_btn_king2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,462},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>dog_btn_king2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,424},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>dog_caici.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,92},{356,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,204}}</string>
                <key>sourceSize</key>
                <string>{356,204}</string>
            </dict>
            <key>dog_cancel_rebet_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,352},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
            <key>dog_charts_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,676},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>dog_charts_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,595},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>dog_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{272,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,558}}</string>
                <key>sourceSize</key>
                <string>{272,558}</string>
            </dict>
            <key>dog_chat_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,514},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>dog_chat_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,229},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>dog_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,537},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>dog_dollar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,222},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>dog_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,92},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dog_head_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,626},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>dog_id_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,352},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>dog_king_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,92},{184,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,128}}</string>
                <key>sourceSize</key>
                <string>{184,128}</string>
            </dict>
            <key>dog_king_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{238,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,118}}</string>
                <key>sourceSize</key>
                <string>{238,118}</string>
            </dict>
            <key>dog_light_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,529},{250,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,132}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>dog_light_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,395},{250,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,132}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>dog_lihua_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,148},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>dog_lihua_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,67},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>dog_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{246,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,4}}</string>
                <key>sourceSize</key>
                <string>{246,4}</string>
            </dict>
            <key>dog_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,222},{255,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,56}}</string>
                <key>sourceSize</key>
                <string>{255,56}</string>
            </dict>
            <key>dog_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,729},{50,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>dog_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,757},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>dog_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,329},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>dog_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,676},{51,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,17}}</string>
                <key>sourceSize</key>
                <string>{51,17}</string>
            </dict>
            <key>dog_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,676},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>dog_name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,310},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>dog_name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,518},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>dog_name_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,360},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>dog_open56_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,280},{167,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,78}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>dog_quiz_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,298},{361,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,69}}</string>
                <key>sourceSize</key>
                <string>{361,69}</string>
            </dict>
            <key>dog_quiz_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,652},{97,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,25}}</string>
                <key>sourceSize</key>
                <string>{97,25}</string>
            </dict>
            <key>dog_rebet_btn_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,280},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
            <key>dog_rebet_double_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,696},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
            <key>dog_rebet_single_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,518},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
            <key>dog_rebet_single_btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,360},{156,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,70}}</string>
                <key>sourceSize</key>
                <string>{156,70}</string>
            </dict>
            <key>dog_red_point_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,703},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>dog_reward_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,703},{62,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,26}}</string>
                <key>sourceSize</key>
                <string>{62,26}</string>
            </dict>
            <key>dog_shuiguo_qipao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,360},{181,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,107}}</string>
                <key>sourceSize</key>
                <string>{181,107}</string>
            </dict>
            <key>dog_shuiguo_qipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,529},{181,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,107}}</string>
                <key>sourceSize</key>
                <string>{181,107}</string>
            </dict>
            <key>dog_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,679},{100,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,72}}</string>
                <key>sourceSize</key>
                <string>{100,72}</string>
            </dict>
            <key>dog_zi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,369},{372,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,24}}</string>
                <key>sourceSize</key>
                <string>{372,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog_interface.png</string>
            <key>size</key>
            <string>{1008,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da08cb1ad00eb661a23a2e2cc53829d:1/1$</string>
            <key>textureFileName</key>
            <string>dog_interface.png</string>
        </dict>
    </dict>
</plist>
