<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog_lightning_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,221},{51,230}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{51,230}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{63,248}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{63,248}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{55,238}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{55,238}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg14.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,361},{65,196}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{65,196}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,428},{65,174}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,46},{65,174}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,446},{55,192}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,47},{55,192}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg17.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,166},{53,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,58},{53,130}}</string>
                <key>sourceSize</key>
                <string>{71,248}</string>
            </dict>
            <key>dog_lightning_bg21.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{77,233}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,233}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_lightning_bg22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{81,225}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{81,225}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_lightning_bg23.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,274},{85,213}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{85,213}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_lightning_bg24.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,361},{83,193}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{83,193}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_lightning_bg25.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{91,213}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{91,213}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_lightning_bg26.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{81,169}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{81,169}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_lightning_bg27.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,85},{79,141}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,58},{79,141}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>dog_starshine_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,274},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>dog_starshine_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,289}}</string>
                <key>sourceSize</key>
                <string>{289,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dog_effect.png</string>
            <key>size</key>
            <string>{636,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2982bd6a251e51730b8ba4dddd04beed:1/1$</string>
            <key>textureFileName</key>
            <string>dog_effect.png</string>
        </dict>
    </dict>
</plist>
