<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autofire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,216},{60,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,163},{62,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,269},{58,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,336},{56,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{56,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,375},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{54,53}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,301},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,53}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,216},{58,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,222},{58,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,110},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,53}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire18.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire19.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,57},{64,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,322},{56,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire20.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,110},{62,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,273},{56,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,326},{54,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,244},{52,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,279},{56,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,165},{60,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>autofire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,57},{64,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>sanshe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,252},{66,80}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{66,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{70,80}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{70,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{58,84}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{58,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,88}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{56,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{48,88}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{48,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{58,84}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,2},{58,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,164},{68,78}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe16.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{78,78}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe17.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,252},{78,72}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{84,62}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe19.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,352},{82,62}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,436},{74,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{74,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe20.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,178},{82,54}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,54}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe21.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,170},{80,62}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe22.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,170},{80,68}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe23.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,88},{80,78}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe24.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,84},{78,78}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe25.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,440},{68,82}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{68,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{54,84}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{54,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{80,76}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,334},{78,72}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{78,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,268},{82,66}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,29},{82,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,354},{84,52}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{84,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,92},{84,60}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{84,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,82},{78,66}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{78,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sanshe9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{74,74}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish16.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8039e729b001b3e4e85d9760171ce1db$</string>
            <key>textureFileName</key>
            <string>fish16.png</string>
        </dict>
    </dict>
</plist>
