<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barrel12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,496},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{145,87}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{129,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{129,101}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,333},{141,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,125}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,495},{139,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{139,121}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,461},{139,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{139,121}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,476},{145,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{145,87}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,506},{141,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{141,85}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel12_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,461},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{117,89}}</string>
                <key>sourceSize</key>
                <string>{145,125}</string>
            </dict>
            <key>Barrel13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,373},{149,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{149,120}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,339},{149,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{149,120}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,110},{179,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,158}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,225},{179,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{179,156}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{179,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{179,152}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{159,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{159,92}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{163,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{163,94}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel13_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,146},{133,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{133,80}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>Barrel14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,383},{150,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{150,111}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>Barrel14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,383},{150,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{150,111}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>Barrel14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,233},{138,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,114}}</string>
                <key>sourceSize</key>
                <string>{140,122}</string>
            </dict>
            <key>Barrel14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,110},{196,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{196,153}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>Barrel14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,56},{200,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,167}}</string>
                <key>sourceSize</key>
                <string>{200,177}</string>
            </dict>
            <key>Barrel14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,270},{158,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{158,101}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>Barrel14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,565},{130,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{130,97}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>Barrel14_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,110},{126,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,49},{126,77}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>Barrel2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,593},{101,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>Barrel3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,373},{131,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,114}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>Barrel4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,585},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>CannonBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,265},{173,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{173,72}}</string>
                <key>sourceSize</key>
                <string>{173,74}</string>
            </dict>
            <key>CannonBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,281},{149,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{149,60}}</string>
                <key>sourceSize</key>
                <string>{171,60}</string>
            </dict>
            <key>CannonBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,142}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{265,142}}</string>
                <key>sourceSize</key>
                <string>{273,146}</string>
            </dict>
            <key>SuperBarrel2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,238},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>SuperBarrel3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,593},{109,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{109,112}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>SuperBarrel4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,593},{109,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{109,112}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>money2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,56},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>shotNumBack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{229,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,52}}</string>
                <key>sourceSize</key>
                <string>{229,52}</string>
            </dict>
            <key>shotNumBack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{229,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,52}}</string>
                <key>sourceSize</key>
                <string>{229,52}</string>
            </dict>
            <key>shotNumBack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{230,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,52}}</string>
                <key>sourceSize</key>
                <string>{230,52}</string>
            </dict>
            <key>shotNumBack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{231,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,52}}</string>
                <key>sourceSize</key>
                <string>{231,52}</string>
            </dict>
            <key>shotNumBack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,56},{227,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{227,52}}</string>
                <key>sourceSize</key>
                <string>{229,52}</string>
            </dict>
            <key>shotNumBack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,56},{227,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{227,52}}</string>
                <key>sourceSize</key>
                <string>{229,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af132bdeb639725ca4134734874513c5$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
