<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,298},{78,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{78,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{78,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,233},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,381},{78,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{78,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,12}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,424},{78,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,313},{78,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,218},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{78,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,372},{78,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{78,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{78,12}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gold_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,218},{80,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{80,13}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,83}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{80,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,77}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,75},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{82,53}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{80,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{80,41}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,130},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{80,71}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{80,83}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,84},{80,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{80,77}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,163},{80,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{80,53}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,203},{80,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{80,13}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{82,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{82,41}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>gold_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{82,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{82,71}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish9.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b94791f9eb0344391df63b4a53de82a$</string>
            <key>textureFileName</key>
            <string>fish9.png</string>
        </dict>
    </dict>
</plist>
