<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,359},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bullet_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,340},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>bullet_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,278},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>bullet_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,340},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>bullet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,358},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bullet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,334},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bullet_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,278},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bullet_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,58},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bullet_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>bullet_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,308},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>bullet_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,308},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,278},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>w01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,196},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{80,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,564},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{144,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{176,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{176,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{174,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{174,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{174,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{174,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,200},{182,182}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{182,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{188,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{196,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{196,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{196,196}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{196,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,114},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{80,80}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,838},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{144,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,402},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,382},{176,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,62},{176,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,384},{174,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{174,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,384},{174,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{174,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,200},{182,182}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{182,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{188,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>w03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,304}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,304}}</string>
                <key>sourceSize</key>
                <string>{315,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28fe12fdc6012111cb4e2386061715b6$</string>
            <key>textureFileName</key>
            <string>fish4.png</string>
        </dict>
    </dict>
</plist>
