<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{404,210}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{404,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1380},{402,210}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{402,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1592},{398,210}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{398,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1273},{402,210}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{402,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1592},{400,210}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{400,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1168},{402,210}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{402,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1598},{402,210}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{402,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{404,210}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{404,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish17_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{404,210}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{404,210}}</string>
                <key>sourceSize</key>
                <string>{450,242}</string>
            </dict>
            <key>fish18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1166},{550,224}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,942},{550,224}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,712},{550,228}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{550,228}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{550,242}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{550,242}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{550,242}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{550,242}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,246},{550,234}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{550,234}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{550,224}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish18_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{550,230}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{550,230}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,940},{550,224}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{550,224}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,482},{550,228}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{550,228}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{550,242}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{550,242}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,242}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{550,242}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,246},{550,234}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{550,234}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,714},{550,224}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,482},{550,230}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{550,230}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1592},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1011},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,749},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1011},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,749},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1592},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,500},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,251},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish25_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,251},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish25_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish25_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,500},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>suodingfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,749},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jcby2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5435af0ba04b9c339d6feeb50dd69bea$</string>
            <key>textureFileName</key>
            <string>jcby2.png</string>
        </dict>
    </dict>
</plist>
