<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,404},{498,368}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{498,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,454},{490,368}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{490,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>fish0d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,454},{85,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,30}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>fish0d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,394},{79,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>fish10d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1520},{155,216}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{155,216}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish10d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1520},{163,226}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,65},{163,226}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish10d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1272},{165,246}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{165,246}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish10d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1748},{159,258}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,35},{159,258}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish11d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1259},{144,150}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{144,150}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish11d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1896},{150,152}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{150,152}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish11d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1736},{156,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish11d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1458},{154,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1738},{253,87}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{253,87}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>fish12d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1272},{239,81}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{239,81}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>fish12d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1520},{227,95}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{227,95}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>fish13d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,394},{321,106}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{321,106}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>fish13d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,750},{313,100}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,45},{313,100}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>fish13d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1753},{267,156}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{267,156}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>fish14d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{257,306}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{257,306}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish14d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1224},{239,294}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{239,294}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish14d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{249,296}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{249,296}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish14d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{245,304}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{245,304}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish15d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,750},{316,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,174}}</string>
                <key>sourceSize</key>
                <string>{316,174}</string>
            </dict>
            <key>fish15d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{316,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{316,158}}</string>
                <key>sourceSize</key>
                <string>{316,174}</string>
            </dict>
            <key>fish16d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,68},{340,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,162}}</string>
                <key>sourceSize</key>
                <string>{340,162}</string>
            </dict>
            <key>fish16d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,232},{336,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{336,160}}</string>
                <key>sourceSize</key>
                <string>{340,162}</string>
            </dict>
            <key>fish17d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{428,221}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{428,221}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>fish17d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{430,205}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{430,205}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>fish17d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,541},{420,207}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{420,207}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>fish18d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,228},{550,224}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish19d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{550,224}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{550,224}}</string>
                <key>sourceSize</key>
                <string>{570,270}</string>
            </dict>
            <key>fish1d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,502},{56,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>fish1d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2009,475},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>fish21d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{64,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,343}}</string>
                <key>sourceSize</key>
                <string>{64,343}</string>
            </dict>
            <key>fish24d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1753},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish24d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,778},{260,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,294}}</string>
                <key>sourceSize</key>
                <string>{260,294}</string>
            </dict>
            <key>fish25d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1023},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish25d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,774},{247,310}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,310}}</string>
                <key>sourceSize</key>
                <string>{249,312}</string>
            </dict>
            <key>fish26d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,945},{277,231}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{277,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish2d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,890},{84,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{84,52}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>fish2d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1954},{70,44}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{70,44}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>fish3d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,404},{100,59}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{100,59}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>fish3d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1065},{106,65}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,65}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>fish3d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,824},{94,65}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{94,65}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>fish4d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1993},{142,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,49}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish4d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1458},{138,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{138,47}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish4d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,679},{136,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish4d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,726},{122,45}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{122,45}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish5d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,480},{127,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,89}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>fish5d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1954},{119,83}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{119,83}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>fish5d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,824},{99,69}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{99,69}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>fish6d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1679},{106,55}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{106,55}}</string>
                <key>sourceSize</key>
                <string>{160,77}</string>
            </dict>
            <key>fish6d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,506},{140,57}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,57}}</string>
                <key>sourceSize</key>
                <string>{160,77}</string>
            </dict>
            <key>fish6d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,648},{128,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{128,57}}</string>
                <key>sourceSize</key>
                <string>{160,77}</string>
            </dict>
            <key>fish7d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,571},{122,106}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{122,106}}</string>
                <key>sourceSize</key>
                <string>{142,106}</string>
            </dict>
            <key>fish7d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,406},{128,72}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{128,72}}</string>
                <key>sourceSize</key>
                <string>{142,106}</string>
            </dict>
            <key>fish7d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,926},{118,106}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{118,106}}</string>
                <key>sourceSize</key>
                <string>{142,106}</string>
            </dict>
            <key>fish8d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1507},{170,66}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,43},{170,66}}</string>
                <key>sourceSize</key>
                <string>{214,118}</string>
            </dict>
            <key>fish8d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1736},{166,98}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{214,118}</string>
            </dict>
            <key>fish9d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1618},{143,115}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{143,115}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,836},{107,109}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{107,109}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1341},{117,107}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{117,107}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1904},{113,119}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{113,119}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1222},{117,115}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{117,115}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,773},{115,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{115,119}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>plate1s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1272},{183,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,184}}</string>
                <key>sourceSize</key>
                <string>{183,184}</string>
            </dict>
            <key>plate2s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1074},{180,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,183}}</string>
                <key>sourceSize</key>
                <string>{180,183}</string>
            </dict>
            <key>plate3s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1738},{214,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,214}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>plate4s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1074},{145,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,146}}</string>
                <key>sourceSize</key>
                <string>{145,146}</string>
            </dict>
            <key>plate5s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1513},{196,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,197}}</string>
                <key>sourceSize</key>
                <string>{202,197}</string>
            </dict>
            <key>qilind_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{562,400}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,400}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilind_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,402}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,402}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jcby4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1d99bb48b17b0c27b6fc3ff316a89eb$</string>
            <key>textureFileName</key>
            <string>jcby4.png</string>
        </dict>
    </dict>
</plist>
