<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{498,368}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{498,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{490,368}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{490,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{478,368}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{478,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{480,360}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{480,360}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,372},{480,358}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{480,358}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{482,358}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{482,358}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{484,368}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{484,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>baihu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,368}}</string>
                <key>sourceSize</key>
                <string>{500,368}</string>
            </dict>
            <key>fish22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,917},{264,260}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{264,260}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,372},{248,262}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{248,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,372},{254,258}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{254,258}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1196},{264,264}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{264,264}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,649},{266,262}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{266,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,372},{250,266}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{250,266}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,640},{256,262}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{256,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,926},{256,268}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{256,268}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>fish23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1135},{178,170}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{178,170}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>fish23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{182,170}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{182,170}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>fish23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1818},{178,170}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{178,170}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>fish23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1818},{178,172}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{178,172}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>fish23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1135},{176,172}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{176,172}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>fish26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1592},{277,231}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{277,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,854},{279,231}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{279,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1315},{279,231}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{279,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,854},{279,231}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{279,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1313},{277,231}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{277,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1596},{277,231}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{277,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,372},{275,231}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{275,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,649},{275,231}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{275,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>fish26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,372},{275,231}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{275,231}}</string>
                <key>sourceSize</key>
                <string>{283,235}</string>
            </dict>
            <key>suodingfish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1596},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jcby3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c8396b55d59183e5b5ac351419d695b$</string>
            <key>textureFileName</key>
            <string>jcby3.png</string>
        </dict>
    </dict>
</plist>
