<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,574},{562,400}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,400}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{560,410}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,410}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,976},{560,408}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,408}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,414},{560,408}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,408}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1386},{550,408}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{550,408}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,976},{558,408}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,408}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{566,402}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,402}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,976},{560,406}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,406}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{560,400}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,400}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,414},{560,408}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,408}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1538},{550,402}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{550,402}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1386},{558,404}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,404}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{570,396}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,396}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>qilin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,410}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,410}}</string>
                <key>sourceSize</key>
                <string>{570,410}</string>
            </dict>
            <key>suodingfish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,414},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jcby5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b5dd42409748dd9b1fc2eadff4d91c9$</string>
            <key>textureFileName</key>
            <string>jcby5.png</string>
        </dict>
    </dict>
</plist>
