<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1157},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1115},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,964},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h50010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h60010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6008.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>h6009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,19}}</string>
                <key>sourceSize</key>
                <string>{960,19}</string>
            </dict>
            <key>suodingsuror.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e69a042bfd2eec4d5667aaff41de418d$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
