<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1240},{244,203}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{244,203}}</string>
                <key>sourceSize</key>
                <string>{290,205}</string>
            </dict>
            <key>fish17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1681},{244,203}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{244,203}}</string>
                <key>sourceSize</key>
                <string>{290,205}</string>
            </dict>
            <key>fish17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,785},{266,201}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{266,201}}</string>
                <key>sourceSize</key>
                <string>{290,205}</string>
            </dict>
            <key>fish17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,580},{290,203}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{290,203}}</string>
                <key>sourceSize</key>
                <string>{290,205}</string>
            </dict>
            <key>fish17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,698},{284,203}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{284,203}}</string>
                <key>sourceSize</key>
                <string>{290,205}</string>
            </dict>
            <key>fish18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1452},{210,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{210,243}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1664},{206,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{206,239}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1724},{218,239}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{218,239}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1496},{226,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,239}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1724},{208,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{208,239}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,454},{204,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{204,235}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1681},{212,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{212,245}}</string>
                <key>sourceSize</key>
                <string>{226,245}</string>
            </dict>
            <key>fish19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{266,300}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{266,300}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{284,326}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{284,326}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,736},{254,304}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{254,304}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,694},{252,314}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{252,314}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{250,324}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1},{250,324}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,444},{248,320}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{248,320}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,444},{252,318}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{252,318}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{256,320}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{256,320}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,444},{290,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{290,324}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish19_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,288},{290,324}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{290,324}}</string>
                <key>sourceSize</key>
                <string>{298,354}</string>
            </dict>
            <key>fish20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,903},{248,199}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{248,199}}</string>
                <key>sourceSize</key>
                <string>{250,215}</string>
            </dict>
            <key>fish20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{246,195}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{246,195}}</string>
                <key>sourceSize</key>
                <string>{250,215}</string>
            </dict>
            <key>fish20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1407},{244,193}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{244,193}}</string>
                <key>sourceSize</key>
                <string>{250,215}</string>
            </dict>
            <key>fish20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1403},{244,193}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,193}}</string>
                <key>sourceSize</key>
                <string>{250,215}</string>
            </dict>
            <key>fish20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1153},{248,195}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{248,195}}</string>
                <key>sourceSize</key>
                <string>{250,215}</string>
            </dict>
            <key>fish21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{552,440}}</string>
                <key>offset</key>
                <string>{24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{552,440}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,450}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{564,450}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{556,440}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{556,440}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,450}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{564,450}}</string>
                <key>sourceSize</key>
                <string>{600,450}</string>
            </dict>
            <key>fish25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,680},{128,116}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fish25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,562},{128,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{128,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fish25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,444},{128,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{128,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fish27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1376},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1244},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1200},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1155},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,988},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1124},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish28_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,992},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish28_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,948},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish28_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,903},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>fish29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1445},{230,228}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,228}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>fish29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,892},{230,230}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,230}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>fish29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,660},{232,230}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{232,230}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>fish29_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,892},{230,230}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,230}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>suodingfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,580},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nezha2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:147ef03d7622050dfe96f64a7dd5c6e2$</string>
            <key>textureFileName</key>
            <string>nezha2.png</string>
        </dict>
    </dict>
</plist>
