<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baojilabel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,266},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{114,66}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,46},{114,66}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel11.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,70},{112,62}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,47},{112,62}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,568},{298,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,306},{262,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{262,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,412},{258,150}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{258,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,606},{250,150}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{250,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,266},{274,144}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{274,144}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,868},{154,116}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,24},{154,116}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,134},{130,90}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,36},{130,90}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>baojilabel9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{120,74}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,43},{120,74}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,606},{236,130}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{236,130}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,606},{228,118}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,23},{228,118}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,154},{280,150}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,458},{252,146}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{252,146}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>speeduplabel9.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,858},{240,138}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{240,138}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skilllabel.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e22e5112313251473aecc63156720315$</string>
            <key>textureFileName</key>
            <string>skilllabel.png</string>
        </dict>
    </dict>
</plist>
