<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1712},{303,203}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{303,203}}</string>
                <key>sourceSize</key>
                <string>{321,207}</string>
            </dict>
            <key>fish18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,809},{311,201}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{311,201}}</string>
                <key>sourceSize</key>
                <string>{321,207}</string>
            </dict>
            <key>fish18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1012},{311,198}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{311,198}}</string>
                <key>sourceSize</key>
                <string>{321,208}</string>
            </dict>
            <key>fish18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1270},{319,190}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{319,190}}</string>
                <key>sourceSize</key>
                <string>{321,208}</string>
            </dict>
            <key>fish18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{303,203}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{303,203}}</string>
                <key>sourceSize</key>
                <string>{321,207}</string>
            </dict>
            <key>fish19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1707},{252,285}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{252,285}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1445},{252,283}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{252,283}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{252,291}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{252,291}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1708},{250,291}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{250,291}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,518},{252,289}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{252,289}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,943},{252,285}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{252,285}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,264},{252,289}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{252,289}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1455},{250,285}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{250,285}}</string>
                <key>sourceSize</key>
                <string>{252,301}</string>
            </dict>
            <key>fish20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{466,133}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{466,133}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,129}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{468,129}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,129},{464,133}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{464,133}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{456,137}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{456,137}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{464,129}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{464,129}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{468,125}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{468,125}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{464,129}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{464,129}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,137},{462,125}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{462,125}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,133},{462,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{462,127}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,916},{370,352}}</string>
                <key>offset</key>
                <string>{9,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{370,352}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,264},{416,352}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{416,352}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,600},{372,330}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{372,330}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,856},{414,280}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,62},{414,280}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{422,242}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,139},{422,242}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,262},{422,268}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,165},{422,268}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,264},{376,334}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,144},{376,334}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,932},{368,338}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,132},{368,338}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,618},{402,296}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,130},{402,296}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,532},{414,322}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,51},{414,322}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1138},{281,136}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,1},{281,136}}</string>
                <key>sourceSize</key>
                <string>{309,144}</string>
            </dict>
            <key>fish25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1598},{303,112}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{303,112}}</string>
                <key>sourceSize</key>
                <string>{309,144}</string>
            </dict>
            <key>fish25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1708},{303,124}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{303,124}}</string>
                <key>sourceSize</key>
                <string>{309,144}</string>
            </dict>
            <key>fish26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1272},{181,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,238}}</string>
                <key>sourceSize</key>
                <string>{181,238}</string>
            </dict>
            <key>fish26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1138},{171,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,234}}</string>
                <key>sourceSize</key>
                <string>{171,234}</string>
            </dict>
            <key>fish26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,764},{177,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,246}}</string>
                <key>sourceSize</key>
                <string>{177,246}</string>
            </dict>
            <key>fish26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1272},{171,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,240}}</string>
                <key>sourceSize</key>
                <string>{171,240}</string>
            </dict>
            <key>fish26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1365},{181,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,240}}</string>
                <key>sourceSize</key>
                <string>{181,240}</string>
            </dict>
            <key>fish26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1462},{171,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,240}}</string>
                <key>sourceSize</key>
                <string>{171,240}</string>
            </dict>
            <key>fish26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{173,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,240}}</string>
                <key>sourceSize</key>
                <string>{173,240}</string>
            </dict>
            <key>fish26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1462},{171,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,244}}</string>
                <key>sourceSize</key>
                <string>{171,244}</string>
            </dict>
            <key>fish26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{175,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,242}}</string>
                <key>sourceSize</key>
                <string>{175,242}</string>
            </dict>
            <key>fish27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,460},{302,205}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{302,205}}</string>
                <key>sourceSize</key>
                <string>{324,209}</string>
            </dict>
            <key>fish27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1212},{310,201}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{310,201}}</string>
                <key>sourceSize</key>
                <string>{324,209}</string>
            </dict>
            <key>fish27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1723},{314,181}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,16},{314,181}}</string>
                <key>sourceSize</key>
                <string>{324,209}</string>
            </dict>
            <key>fish27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1415},{310,181}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{310,181}}</string>
                <key>sourceSize</key>
                <string>{324,209}</string>
            </dict>
            <key>fish27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1723},{306,199}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{306,199}}</string>
                <key>sourceSize</key>
                <string>{324,209}</string>
            </dict>
            <key>suodingfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1138},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqianshu2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811a77b5cfcba232ae1e0f1e72074ee7$</string>
            <key>textureFileName</key>
            <string>yaoqianshu2.png</string>
        </dict>
    </dict>
</plist>
