<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish0d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,818},{85,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{85,30}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>fish0d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,907},{79,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,32}}</string>
                <key>sourceSize</key>
                <string>{89,32}</string>
            </dict>
            <key>fish10d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,767},{155,216}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,75},{155,216}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish10d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,907},{163,226}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,65},{163,226}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish10d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,741},{165,246}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,45},{165,246}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish10d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,523},{159,258}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,35},{159,258}}</string>
                <key>sourceSize</key>
                <string>{215,330}</string>
            </dict>
            <key>fish11d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,798},{144,150}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{144,150}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish11d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,798},{150,152}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{150,152}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish11d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,818},{156,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{156,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish11d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1068},{154,158}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,523},{253,87}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{253,87}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>fish12d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,684},{239,81}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{239,81}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>fish12d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,721},{227,95}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{227,95}}</string>
                <key>sourceSize</key>
                <string>{287,113}</string>
            </dict>
            <key>fish13d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{321,106}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{321,106}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>fish13d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,162},{313,100}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,45},{313,100}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>fish13d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{267,156}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{267,156}}</string>
                <key>sourceSize</key>
                <string>{321,160}</string>
            </dict>
            <key>fish14d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,264},{257,306}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{257,306}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish14d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{239,294}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{239,294}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish14d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,547},{249,296}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{249,296}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish14d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,300},{245,304}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{245,304}}</string>
                <key>sourceSize</key>
                <string>{273,306}</string>
            </dict>
            <key>fish15d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,407},{316,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,174}}</string>
                <key>sourceSize</key>
                <string>{316,174}</string>
            </dict>
            <key>fish15d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{316,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{316,158}}</string>
                <key>sourceSize</key>
                <string>{316,174}</string>
            </dict>
            <key>fish16d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,137},{340,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,162}}</string>
                <key>sourceSize</key>
                <string>{340,162}</string>
            </dict>
            <key>fish16d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,301},{336,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{336,160}}</string>
                <key>sourceSize</key>
                <string>{340,162}</string>
            </dict>
            <key>fish17d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,670},{301,203}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{301,203}}</string>
                <key>sourceSize</key>
                <string>{321,205}</string>
            </dict>
            <key>fish18d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,318},{303,203}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{303,203}}</string>
                <key>sourceSize</key>
                <string>{321,207}</string>
            </dict>
            <key>fish1d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,793},{56,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>fish1d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,988},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>fish20d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{466,133}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{466,133}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish21d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{402,296}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,130},{402,296}}</string>
                <key>sourceSize</key>
                <string>{424,486}</string>
            </dict>
            <key>fish22d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,403}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,403}}</string>
                <key>sourceSize</key>
                <string>{546,403}</string>
            </dict>
            <key>fish23d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{328,222}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{328,222}}</string>
                <key>sourceSize</key>
                <string>{350,228}</string>
            </dict>
            <key>fish24d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,612},{252,107}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{252,107}}</string>
                <key>sourceSize</key>
                <string>{280,143}</string>
            </dict>
            <key>fish25d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,875},{281,136}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{281,136}}</string>
                <key>sourceSize</key>
                <string>{309,144}</string>
            </dict>
            <key>fish27d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,463},{302,205}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{302,205}}</string>
                <key>sourceSize</key>
                <string>{324,209}</string>
            </dict>
            <key>fish2d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,850},{84,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{84,52}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>fish2d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,721},{70,44}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{70,44}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>fish3d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,300},{100,59}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{100,59}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>fish3d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,904},{106,65}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,65}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>fish4d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,851},{142,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,49}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish4d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,463},{138,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{138,47}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish4d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,603},{136,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish4d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,245},{122,45}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{122,45}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>fish5d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,656},{127,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,89}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>fish5d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,524},{119,83}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{119,83}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>fish5d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,361},{99,69}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{99,69}}</string>
                <key>sourceSize</key>
                <string>{127,93}</string>
            </dict>
            <key>fish6d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,995},{106,55}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{106,55}}</string>
                <key>sourceSize</key>
                <string>{160,77}</string>
            </dict>
            <key>fish6d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,864},{140,57}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{140,57}}</string>
                <key>sourceSize</key>
                <string>{160,77}</string>
            </dict>
            <key>fish6d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,597},{128,57}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{128,57}}</string>
                <key>sourceSize</key>
                <string>{160,77}</string>
            </dict>
            <key>fish7d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,137},{122,106}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{122,106}}</string>
                <key>sourceSize</key>
                <string>{142,106}</string>
            </dict>
            <key>fish7d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,523},{128,72}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{128,72}}</string>
                <key>sourceSize</key>
                <string>{142,106}</string>
            </dict>
            <key>fish7d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,609},{118,106}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{118,106}}</string>
                <key>sourceSize</key>
                <string>{142,106}</string>
            </dict>
            <key>fish8d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,725},{170,66}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{170,66}}</string>
                <key>sourceSize</key>
                <string>{214,118}</string>
            </dict>
            <key>fish8d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,432},{166,98}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{166,98}}</string>
                <key>sourceSize</key>
                <string>{214,118}</string>
            </dict>
            <key>fish9d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,923},{143,115}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{143,115}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,600},{107,109}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{107,109}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,709},{117,107}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{117,107}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,409},{113,119}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{113,119}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,747},{117,115}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{117,115}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>fish9d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,292},{115,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{115,119}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>plate3d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,793},{208,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,112}}</string>
                <key>sourceSize</key>
                <string>{208,112}</string>
            </dict>
            <key>plate4d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,828},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>plate5d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{314,316}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{314,316}}</string>
                <key>sourceSize</key>
                <string>{316,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqianshu4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c36127df6ab75e6b44bc5f4b2a6bd8b3$</string>
            <key>textureFileName</key>
            <string>yaoqianshu4.png</string>
        </dict>
    </dict>
</plist>
