<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>benzhoujifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,774},{202,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,43}}</string>
                <key>sourceSize</key>
                <string>{202,45}</string>
            </dict>
            <key>jinrijifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,774},{202,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,43}}</string>
                <key>sourceSize</key>
                <string>{202,45}</string>
            </dict>
            <key>leijijinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,984},{135,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{135,37}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
            <key>rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>rankcurrentcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,558},{98,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,27}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>rankcurrentvip.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,527},{84,25}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,25}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>rankfirst.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,458},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,67}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>rankfirstcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,718},{384,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{384,35}}</string>
                <key>sourceSize</key>
                <string>{386,37}</string>
            </dict>
            <key>rankjifenlabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,978},{100,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>rankkuangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,774},{208,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,43}}</string>
                <key>sourceSize</key>
                <string>{210,45}</string>
            </dict>
            <key>rankmoneypriseinfo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,415},{336,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{336,61}}</string>
                <key>sourceSize</key>
                <string>{350,67}</string>
            </dict>
            <key>rankmoneyprisetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,770},{197,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,41}}</string>
                <key>sourceSize</key>
                <string>{197,41}</string>
            </dict>
            <key>ranknichenglabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,596},{49,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,26}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>ranknormal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,860},{353,87}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{353,87}}</string>
                <key>sourceSize</key>
                <string>{357,107}</string>
            </dict>
            <key>ranknormal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,415},{353,87}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{353,87}}</string>
                <key>sourceSize</key>
                <string>{357,107}</string>
            </dict>
            <key>ranknormal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{352,86}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{352,86}}</string>
                <key>sourceSize</key>
                <string>{356,108}</string>
            </dict>
            <key>ranknormal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{352,86}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{352,86}}</string>
                <key>sourceSize</key>
                <string>{356,108}</string>
            </dict>
            <key>ranknormalcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{384,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{384,35}}</string>
                <key>sourceSize</key>
                <string>{386,37}</string>
            </dict>
            <key>rankpaimingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{410,173}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{410,173}}</string>
                <key>sourceSize</key>
                <string>{418,183}</string>
            </dict>
            <key>rankpaiminglabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,658},{97,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,27}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>rankprisebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{411,340}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{411,340}}</string>
                <key>sourceSize</key>
                <string>{423,350}</string>
            </dict>
            <key>rankpriseinfotitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,770},{156,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,40}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>rankpriseline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{397,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,3}}</string>
                <key>sourceSize</key>
                <string>{397,3}</string>
            </dict>
            <key>rankruleitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{314,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{314,60}}</string>
                <key>sourceSize</key>
                <string>{318,62}</string>
            </dict>
            <key>ranksecond.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,458},{72,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{72,67}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>ranksecondcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,388},{384,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{384,35}}</string>
                <key>sourceSize</key>
                <string>{386,37}</string>
            </dict>
            <key>rankselect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{353,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{353,103}}</string>
                <key>sourceSize</key>
                <string>{357,107}</string>
            </dict>
            <key>rankselect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,755},{353,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{353,103}}</string>
                <key>sourceSize</key>
                <string>{357,107}</string>
            </dict>
            <key>rankselect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,364},{352,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{352,104}}</string>
                <key>sourceSize</key>
                <string>{356,108}</string>
            </dict>
            <key>rankselect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,364},{352,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{352,104}}</string>
                <key>sourceSize</key>
                <string>{356,108}</string>
            </dict>
            <key>rankthird.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,527},{70,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,67}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>rankthirdcell.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{384,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{384,35}}</string>
                <key>sourceSize</key>
                <string>{386,37}</string>
            </dict>
            <key>ranktitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{767,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{767,59}}</string>
                <key>sourceSize</key>
                <string>{775,63}</string>
            </dict>
            <key>rankvipprisetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,415},{141,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,40}}</string>
                <key>sourceSize</key>
                <string>{141,40}</string>
            </dict>
            <key>rankvipsprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,928},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>vipdengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,415},{120,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,41}}</string>
                <key>sourceSize</key>
                <string>{124,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigrank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f11a21a96914cdb2cf9c4f1530abaf8$</string>
            <key>textureFileName</key>
            <string>bigrank.png</string>
        </dict>
    </dict>
</plist>
