<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectItemAct1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,312},{256,38}}</string>
                <key>offset</key>
                <string>{43,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,11},{256,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,682},{190,112}}</string>
                <key>offset</key>
                <string>{98,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,13},{190,112}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,904},{178,118}}</string>
                <key>offset</key>
                <string>{104,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,14},{178,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct12.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,994},{168,124}}</string>
                <key>offset</key>
                <string>{108,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,14},{168,124}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct13.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{154,124}}</string>
                <key>offset</key>
                <string>{115,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,14},{154,124}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct14.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,558},{142,122}}</string>
                <key>offset</key>
                <string>{121,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,15},{142,122}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct15.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,722},{138,120}}</string>
                <key>offset</key>
                <string>{123,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,17},{138,120}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{122,120}}</string>
                <key>offset</key>
                <string>{130,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,17},{122,120}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct17.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1244},{114,120}}</string>
                <key>offset</key>
                <string>{134,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,18},{114,120}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1202},{124,120}}</string>
                <key>offset</key>
                <string>{129,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,18},{124,120}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct19.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1142},{136,118}}</string>
                <key>offset</key>
                <string>{123,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,20},{136,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,214},{262,44}}</string>
                <key>offset</key>
                <string>{51,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,12},{262,44}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct20.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,484},{144,118}}</string>
                <key>offset</key>
                <string>{118,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,21},{144,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct21.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,128},{154,118}}</string>
                <key>offset</key>
                <string>{113,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,21},{154,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct22.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1024},{166,116}}</string>
                <key>offset</key>
                <string>{107,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,23},{166,116}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{170,114}}</string>
                <key>offset</key>
                <string>{104,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,24},{170,114}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct24.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,884},{184,108}}</string>
                <key>offset</key>
                <string>{96,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,30},{184,108}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct25.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,882},{196,94}}</string>
                <key>offset</key>
                <string>{90,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,44},{196,94}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct26.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,720},{206,88}}</string>
                <key>offset</key>
                <string>{84,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,50},{206,88}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct27.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,636},{216,82}}</string>
                <key>offset</key>
                <string>{77,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,57},{216,82}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{226,72}}</string>
                <key>offset</key>
                <string>{71,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,67},{226,72}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{238,64}}</string>
                <key>offset</key>
                <string>{63,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,75},{238,64}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,260},{260,50}}</string>
                <key>offset</key>
                <string>{57,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,12},{260,50}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{246,56}}</string>
                <key>offset</key>
                <string>{58,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,83},{246,56}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{256,48}}</string>
                <key>offset</key>
                <string>{51,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,91},{256,48}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct32.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,282},{260,38}}</string>
                <key>offset</key>
                <string>{46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,101},{260,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct33.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,92},{266,36}}</string>
                <key>offset</key>
                <string>{39,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,102},{266,36}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct34.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,92},{272,38}}</string>
                <key>offset</key>
                <string>{25,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,102},{272,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct35.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,86},{272,40}}</string>
                <key>offset</key>
                <string>{12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,100},{272,40}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct36.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,132},{270,40}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,100},{270,40}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct37.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,184},{268,38}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,102},{268,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{266,38}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,101},{266,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{272,38}}</string>
                <key>offset</key>
                <string>{-30,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,101},{272,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{252,60}}</string>
                <key>offset</key>
                <string>{68,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,12},{252,60}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct40.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,174},{268,38}}</string>
                <key>offset</key>
                <string>{-39,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,101},{268,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{270,44}}</string>
                <key>offset</key>
                <string>{-51,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,95},{270,44}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct42.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,128},{270,54}}</string>
                <key>offset</key>
                <string>{-62,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,85},{270,54}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct43.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,224},{260,56}}</string>
                <key>offset</key>
                <string>{-66,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,83},{260,56}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct44.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,322},{252,62}}</string>
                <key>offset</key>
                <string>{-70,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,76},{252,62}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct45.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,412},{238,72}}</string>
                <key>offset</key>
                <string>{-77,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,66},{238,72}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct46.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,528},{226,78}}</string>
                <key>offset</key>
                <string>{-83,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,60},{226,78}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct47.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,694},{214,84}}</string>
                <key>offset</key>
                <string>{-89,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,54},{214,84}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{202,92}}</string>
                <key>offset</key>
                <string>{-95,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,45},{202,92}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct49.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,360},{196,96}}</string>
                <key>offset</key>
                <string>{-99,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,41},{196,96}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,386},{248,70}}</string>
                <key>offset</key>
                <string>{70,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,12},{248,70}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct50.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,964},{182,112}}</string>
                <key>offset</key>
                <string>{-106,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{182,112}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct51.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,844},{170,118}}</string>
                <key>offset</key>
                <string>{-111,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{170,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{162,118}}</string>
                <key>offset</key>
                <string>{-116,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{162,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct53.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,364},{146,118}}</string>
                <key>offset</key>
                <string>{-123,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{146,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct54.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1120},{136,122}}</string>
                <key>offset</key>
                <string>{-128,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{136,122}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct55.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1078},{126,122}}</string>
                <key>offset</key>
                <string>{-133,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{126,122}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct56.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1198},{114,122}}</string>
                <key>offset</key>
                <string>{-138,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{114,122}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct57.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1262},{108,120}}</string>
                <key>offset</key>
                <string>{-142,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{108,120}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct58.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1324},{118,118}}</string>
                <key>offset</key>
                <string>{-135,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{118,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct59.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1078},{138,118}}</string>
                <key>offset</key>
                <string>{-125,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{138,118}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,486},{230,76}}</string>
                <key>offset</key>
                <string>{78,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,13},{230,76}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct60.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,604},{140,116}}</string>
                <key>offset</key>
                <string>{-124,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{140,116}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct61.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,248},{154,114}}</string>
                <key>offset</key>
                <string>{-117,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{154,114}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct62.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1088},{164,112}}</string>
                <key>offset</key>
                <string>{-111,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{164,112}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct63.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,978},{174,108}}</string>
                <key>offset</key>
                <string>{-107,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{174,108}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{186,98}}</string>
                <key>offset</key>
                <string>{-100,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{186,98}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct65.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,810},{200,92}}</string>
                <key>offset</key>
                <string>{-93,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{200,92}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct66.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,796},{204,86}}</string>
                <key>offset</key>
                <string>{-89,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{204,86}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{218,80}}</string>
                <key>offset</key>
                <string>{-82,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{218,80}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct68.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,564},{224,70}}</string>
                <key>offset</key>
                <string>{-77,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{224,70}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct69.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,458},{238,68}}</string>
                <key>offset</key>
                <string>{-68,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{238,68}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,608},{222,84}}</string>
                <key>offset</key>
                <string>{82,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,13},{222,84}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct70.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,352},{252,58}}</string>
                <key>offset</key>
                <string>{-60,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{252,58}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{260,54}}</string>
                <key>offset</key>
                <string>{-54,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{260,54}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct72.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,42},{272,48}}</string>
                <key>offset</key>
                <string>{-45,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{272,48}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct73.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,42},{278,42}}</string>
                <key>offset</key>
                <string>{-40,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{278,42}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{276,38}}</string>
                <key>offset</key>
                <string>{-31,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{276,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{284,38}}</string>
                <key>offset</key>
                <string>{-17,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{284,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct76.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{286,38}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{286,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct77.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{286,38}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,11},{286,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,38}}</string>
                <key>offset</key>
                <string>{16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,11},{286,38}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{212,92}}</string>
                <key>offset</key>
                <string>{87,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,13},{212,92}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>selectItemAct9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,780},{202,100}}</string>
                <key>offset</key>
                <string>{92,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,13},{202,100}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SelectItemAct.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce491bdbaeb70c98ae9224ef9539589:1/1$</string>
            <key>textureFileName</key>
            <string>SelectItemAct.png</string>
        </dict>
    </dict>
</plist>
